
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SuperMarketPlace</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		@if (appstate?.User?.Profile == "comprador")
		{
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="Products">
					<span class="oi oi-headphones" aria-hidden="true"></span> Comprar
				</NavLink>
			</li>
		}
		else if (appstate?.User?.Profile == "administrador")
		{
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="masterView">
					<span class="oi oi-plus" aria-hidden="true"></span> Productos
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="report">
					<span class="oi oi-badge" aria-hidden="true"></span> Reportes
				</NavLink>
			</li>
		}



	</ul>
</div>

@code {

		
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
