USE [Supermark]



GO
/****** Object:  Table [dbo].[IDEUSU]    Script Date: 10/02/2022 10:13:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDEUSU](
	[USUREG] [int] IDENTITY(1,1) NOT NULL,
	[USUNOM] [varchar](255) NOT NULL,
	[USUUSU] [varchar](50) NOT NULL,
	[USUPAS] [varchar](50) NOT NULL,
	[USUPRO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_IDEUSU] PRIMARY KEY CLUSTERED 
(
	[USUREG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMPPRO]    Script Date: 10/02/2022 10:13:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMPPRO](
	[PROREG] [int] IDENTITY(1,1) NOT NULL,
	[PRONOM] [varchar](255) NOT NULL,
	[PRODES] [varchar](255) NOT NULL,
	[PROPRE] [numeric](18, 0) NOT NULL,
	[PROIMG] [varchar](255) NOT NULL,
	[PROCOD] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SMPPRO] PRIMARY KEY CLUSTERED 
(
	[PROREG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMPVEN]    Script Date: 10/02/2022 10:13:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMPVEN](
	[VENREG] [int] IDENTITY(1,1) NOT NULL,
	[VENPRO] [int] NOT NULL,
	[VENUSU] [int] NOT NULL,
	[VENCAN] [int] NOT NULL,
 CONSTRAINT [PK_SMPVEN] PRIMARY KEY CLUSTERED 
(
	[VENREG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IDEUSU] ON 

INSERT [dbo].[IDEUSU] ([USUREG], [USUNOM], [USUUSU], [USUPAS], [USUPRO]) VALUES (1, N'comprador', N'comp', N'123', N'comprador')
INSERT [dbo].[IDEUSU] ([USUREG], [USUNOM], [USUUSU], [USUPAS], [USUPRO]) VALUES (2, N'administrador', N'admon', N'123', N'administrador')
SET IDENTITY_INSERT [dbo].[IDEUSU] OFF

GO
ALTER TABLE [dbo].[SMPVEN]  WITH CHECK ADD  CONSTRAINT [SMPVEN_fk0] FOREIGN KEY([VENPRO])
REFERENCES [dbo].[SMPPRO] ([PROREG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SMPVEN] CHECK CONSTRAINT [SMPVEN_fk0]
GO
ALTER TABLE [dbo].[SMPVEN]  WITH CHECK ADD  CONSTRAINT [SMPVEN_fk1] FOREIGN KEY([VENUSU])
REFERENCES [dbo].[IDEUSU] ([USUREG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SMPVEN] CHECK CONSTRAINT [SMPVEN_fk1]
GO
